.card {
    width: 130px; 
    height: 130px; 
    padding: 1rem;  
    margin: 1.5rem; 
    border-radius: 15px;
    display: inline-block; 
    border-style: solid;
    border-color: rgba(192, 227, 248, 0.721);
    transition: all .2s ease-in-out; 
    cursor: pointer;
} 
.card:hover{
  transform: scale(1.1);
}


.card .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 2rem; 
  }
  .card .img-container img {
    width: 100%
  }
  .img-container{
    cursor: pointer;
    transition: all .2s ease-in-out; 
  }
  
  .img-container:hover { transform: scale(1.1); }